<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fire</title>
</head>
<body>
<div>
    Users: <br>
    {% for user in users %}
    {% for info in user %}
    {{ info }}
    {% endfor %}
    <p></p>
    {% endfor %}
    <form action="logout">
        <input type="submit" value="Logout"/>
    </form><br>
</div>
<div>
    Admins: <br>
    {% for name in adms %}
    {{ name }}
    {% endfor %}
    <p></p>
 <form action="add_adm" method="post">
     add Admin <br>
     {% csrf_token %}
    {% for field in admin_forms %}
    {{ field.errors }}
     {{ field.name }}
     {{ field }}<br>
     {% endfor %}
    <input type="submit" value="Confirm">
 </form>
</div>
<div>
    Portas: <br>
    <table style="width:50%">
    <tr>
        <th>Nome</th><th>port</th><th>ip</th><th>date_add</th>
    </tr>
    {% for porta in portas %}
    <tr>
    {% for info in porta %}
    <th>{{info}}</th>
    {% endfor %}
    </tr>
        {% endfor %}
    </table>
</div>
<div><form action="add_port" method="post">
    Add Port<br>
    {% csrf_token %}
    {% for field in port_form %}
    {{ field.errors }}
     {{ field.name }}
     {{ field }}<br>
     {% endfor %}
    <input type="submit" value="Confirm">
    </form>
</div>
<p></p>
<div>
    <form action="add_user" method="post">
     add User <br>
     {% csrf_token %}
    {% for field in user_forms %}
    {{ field.errors }}
     {{ field.name }}
     {{ field }}<br>
     {% endfor %}
        <input type="submit" value="Confirm"><br>
    </form>
</div>
<br>
    <div>
        Delete Admin
        <form action="delete_admin" method="post">
            {% csrf_token %}
        <select name="admin_name">
            {% for name in adms %}
        <option value={{name}}>{{name}}</option>
            {% endfor %}
        </select>
            <input type="submit" value="Confirm"><br>
        </form>
    </div>
<div>
    Delete User
    <form action="delete_user" method="post">
            {% csrf_token %}
        <select name="user_name">
            {% for name in user_u %}
        <option value={{name}}>{{ name}}</option>
            {% endfor %}
        </select>
            <input type="submit" value="Confirm"><br>
        </form>
</div>
</body>
</html>