.fire {
    background-color: #440464;
}
.fire_box{
    width: 250px;
    height: 180px;
    text-align: center;
    background-color: #7e06b8;;
}
.container {
    display: flex;
    justify-content: center;
}

.fire_littlebox{
    margin-top: 0;
    height: 30px;
    padding-top: 10px;
    background-color: #f8bef9;
}

h1{
    font-family: "Times New Roman", Times, serif;
    font-size: 35px;
    color: #770694;
    text-shadow: 0 0 3px black;
    height: 160px;
    width: 20px;
    padding-top: 0;
    margin-bottom: 10px;
    background-color: #f8bef9;
}